{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <h3>Dostępne kategorie</h3>
    <table class="table table-auto mt-3">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>#</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.title }}</td>
                <td>

                    <a
                            class="btn btn-light"
                            href="{{ path('app_category_show', {'id': category.id}) }}"
                    >
                        Pokaż
                    </a>
                    <a
                            class="btn btn-light"
                            href="{{ path('app_category_edit', {'id': category.id}) }}"
                    >
                        Edycja
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a
            class="btn btn-info"
            href="{{ path('app_category_new') }}"
    >
        Dodaj
    </a>
{% endblock %}
